@import url("./fonts.css");
@import url("./global.css");
@import url("./swiper-bundle.min.css");

/* Header section */
.header {
  position: relative;
  z-index: 2;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: clamp(1.25rem, 0.98rem + 1.15vw, 1.938rem);
  padding-bottom: clamp(0.938rem, 0.65rem + 1.25vw, 1.688rem);
}

.header__logo {
  display: block;
  width: clamp(130px, 4.3vw + 121px, 156px);
  height: auto;
  transition: var(--transition);
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__logo:hover,
.header__logo:focus,
.header__logo:active {
  transform: scale(1.1);
}

.header__burger {
  display: none;
}

.header__menu {
  display: flex;
  gap: 20px;
  font-size: clamp(1.25rem, 1.15rem + 0.42vw, 1.5rem);
}

.menu__link {
  position: relative;
  padding: 10px;
  transition: var(--transition);
}

.header__menu .menu__link:hover,
.header__menu .menu__link:focus,
.header__menu .menu__link:active {
  color: var(--accent-blue);
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: var(--transition) ease-out;
  transform: translateX(-50%);
}

.header__menu .menu__link::after {
  background-color: var(--accent-blue);
}

.menu__link:hover::after,
.menu__link:focus::after,
.menu__link:active::after {
  width: 100%;
}

/* Hero section */
.hero__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: clamp(3.75rem, 2.36rem + 5.86vw, 7.75rem);
}

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: clamp(1.25rem, 0.98rem + 1.15vw, 2.063rem);
  gap: 30px;
}

.hero__title {
  max-width: 739px;
  font-size: clamp(1.75rem, 1.53rem + 0.91vw, 2.375rem);
}

.hero__title strong {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: clamp(2.625rem, 1.44rem + 4.94vw, 6rem);
  color: var(--accent-blue);
  line-height: 1;
}

.hero__subtitle {
  max-width: 464px;
  line-height: 1.5;
  opacity: 0.7;
  font-size: clamp(1rem, 0.95rem + 0.23vw, 1.125rem);
}

.hero__img {
  position: relative;
  height: clamp(300px, 27.5vw + 195px, 600px);
  margin-bottom: 22px;
  background: url("../assets/img/photo/hero/hero.webp") center center / cover
    no-repeat;
  border-radius: var(--border-radius);
}

.reservation {
  position: absolute;
  bottom: 27%;
  right: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  aspect-ratio: 1;
  background-color: var(--accent-green);
  border: 4px solid white;
  border-radius: 50%;
  transition: 1.5s;
  transform: rotate(0deg);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.reservation:hover,
.reservation:focus {
  transform: rotate(720deg);
}

.hero__link {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
  border-radius: 26px;
  background-color: var(--accent-green);
  transition: var(--transition);
  overflow: hidden;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero__link:hover,
.hero__link:focus,
.hero__link:active {
  box-shadow: 0 0 15px var(--accent-green);
}

.hero__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: translateY(-50%);
  transition: none;
  z-index: 0;
}

.hero__link:hover::after,
.hero__link:focus::after,
.hero__link:active::after {
  left: calc(100% + 60px);
  transition: left 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

/* About section */
.about__inner {
  padding-bottom: clamp(3.75rem, 2.45rem + 5.56vw, 7.5rem);
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: clamp(1.25rem, 0.82rem + 1.85vw, 2.25rem);
}

.grid__item {
  height: 300px;
}

.grid__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.grid__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 2;
  grid-row: span 1;
  height: auto;
  gap: 20px;
}

.about__title,
.about__subtitle {
  max-width: 507px;
}

.about__subtitle {
  opacity: 0.7;
  font-size: clamp(1rem, 0.91rem + 0.37vw, 1.25rem);
  line-height: 1.5;
}

.about__subtitle strong {
  padding-block: 5px;
  background-color: var(--accent-green);
}

.grid__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 18px 24px 18px 18px;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 16px;
}

.info__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  aspect-ratio: 1;
  background-color: var(--black-color);
  border-radius: 12px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  color: var(--accent-green);
}

.grid__item--animated .info__label {
  animation: colorWaveTwoCards 2s infinite ease-in-out;
}

.grid__item--animated:nth-of-type(2) .info__label {
  animation-delay: 1s;
}

@keyframes colorWaveTwoCards {
  0%,
  100% {
    background-color: var(--black-color);
    color: var(--accent-green);
  }
  20%,
  50% {
    background-color: var(--accent-green);
    color: var(--black-color);
  }
  70% {
    background-color: var(--black-color);
    color: var(--accent-green);
  }
}

/* Services section */
.services__inner {
  padding-bottom: 120px;
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.services__navigation {
  display: flex;
  gap: 27px;
}

.services__navigation svg path {
  transition: var(--transition);
}

.services__prev,
.services__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition: var(--transition);
}

.services__prev {
  transform: rotate(180deg);
}

.services__prev:hover,
.services__next:hover,
.services__prev:active,
.services__next:active {
  background-color: var(--accent-green);
}

.services__prev:hover svg path,
.services__next:hover svg path,
.services__prev:active svg path,
.services__next:active svg path {
  stroke: var(--black-color);
}

.services__list {
  max-width: 1354px;
}

.services__item {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 630px;
  padding: 0 20px 19px 20px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.services__item img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
  z-index: -2;
}

.services__item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #00000000 40%, #00000099 100%);
  border-radius: var(--border-radius);
  z-index: -1;
}

.service__title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 36px;
  color: #fff;
}

.service__text {
  margin-bottom: 18px;
  opacity: 0.8;
  line-height: 1.5;
  color: #fff;
}

.service__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 18px;
  background-color: var(--accent-green);
  border-radius: var(--border-radius);
  transition: var(--transition);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  overflow: hidden;
}

.service__button:hover,
.service__button:focus,
.service__button:active {
  box-shadow: 0 0 15px var(--accent-green);
}

.service__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: translateY(-50%);
  transition: none;
  z-index: 0;
}

.service__button:hover::after,
.service__button:focus::after,
.service__button:active::after {
  left: calc(100% + 60px);
  transition: left 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Testimonials */
.testimonials__inner {
  padding-bottom: 120px;
}

.testimonials__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.testimonials__navigation {
  display: flex;
  gap: 27px;
}

.testimonials__navigation svg path {
  transition: var(--transition);
}

.testimonials__prev,
.testimonials__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition: var(--transition);
}

.testimonials__prev {
  transform: rotate(180deg);
}

.testimonials__prev:hover,
.testimonials__next:hover,
.testimonials__prev:active,
.testimonials__next:active {
  background-color: var(--accent-green);
}

.testimonials__prev:hover svg path,
.testimonials__next:hover svg path,
.testimonials__prev:active svg path,
.testimonials__next:active svg path {
  stroke: var(--black-color);
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 52px 10px 63px;
  background-color: var(--accent-green);
  border-radius: var(--border-radius);
  text-align: center;
}

.testimonial__label {
  max-width: 326px;
  width: 100%;
  margin-bottom: 22px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 12px;
}

.testimonial__text {
  max-width: 1104px;
  margin-bottom: 26px;
  line-height: 1.5;
  font-size: 26px;
}

.testimonial__author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author__title {
  margin-bottom: 5px;
}

.author__role {
  opacity: 0.7;
}

/* Gallery section */
.gallery__inner {
  padding-bottom: 120px;
}

.gallery__title {
  margin-bottom: 22px;
}

.gallery__subtitle {
  margin-bottom: 39px;
  opacity: 0.7;
  line-height: 1.5;
  font-size: 22px;
}

.gallery__subtitle strong {
  background-color: var(--accent-green);
}

.gallery__slider .swiper-wrapper {
  transition-timing-function: linear;
}

.gallery__list {
  max-width: 1356px;
  height: 684px;
  display: flex;
  align-items: center;
}

.gallery__item {
  width: 356px;
  height: 565px;
  border-radius: var(--border-radius);
  transition: var(--transition);
  overflow: hidden;
}

.gallery__item.swiper-slide-active {
  transform: scale(1.2);
}

.gallery__item img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.gallery__controls {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
}

.gallery__navigation {
  display: flex;
  gap: 10px;
}

.gallery__navigation svg path {
  transition: var(--transition);
}

.gallery__prev,
.gallery__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition: var(--transition);
}

.gallery__prev {
  transform: rotate(180deg);
}

.gallery__prev:hover,
.gallery__next:hover,
.gallery__prev:active,
.gallery__next:active {
  background-color: var(--accent-green);
}

.gallery__prev:hover svg path,
.gallery__next:hover svg path,
.gallery__prev:active svg path,
.gallery__next:active svg path {
  stroke: var(--black-color);
}

.gallery__controls .swiper-pagination {
  position: static;
  font-weight: 300;
  font-size: 52px;
  line-height: 1;
}

/* Message section */
.message__inner {
  display: flex;
  gap: 33px;
  padding-bottom: 120px;
}

.message__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 664px;
  width: 100%;
  padding-left: 32px;
  padding-bottom: 33px;
  border: var(--border);
  border-radius: 32px;
}

.message__title {
  max-width: 317px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-transform: none;
}

.message__text {
  max-width: 300px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.message__text strong {
  background-color: var(--accent-green);
}

.message__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: var(--transition);
}

.message__link:hover,
.message__link:focus,
.message__link:active {
  transform: scale(1.5);
}

.message__link svg path {
  transition: var(--transition);
}

.message__link:hover svg path,
.message__link:focus svg path,
.message__link:active svg path {
  fill: var(--accent-green);
}

.message__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  padding-block: 16px;
  border-radius: 26px;
  background-color: var(--accent-green);
  transition: var(--transition);
  overflow: hidden;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
}

.message__button:hover,
.message__button:focus,
.message__button:active {
  box-shadow: 0 0 15px var(--accent-green);
}

.message__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: translateY(-50%);
  transition: none;
  z-index: 0;
}

.message__button:hover::after,
.message__button:focus::after,
.message__button:active::after {
  left: calc(100% + 60px);
  transition: left 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.message__img {
  max-width: 663px;
  border-radius: 32px;
}

.message__img img {
  width: 100%;
  border-radius: 32px;
}

/* FAQ section */

.faq__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  padding: 37px 51px 76px 38px;
  border-radius: 32px;
  background-color: var(--accent-green);
}

.faq__title {
  max-width: 544px;
  margin-bottom: 18px;
  line-height: 1;
  font-size: 46px;
  text-transform: none;
}

.faq__text {
  max-width: 506px;
  font-size: 20px;
}

.faq__group {
  max-width: 630px;
  width: 100%;
  overflow: hidden;
}

.faq__item {
  border: var(--border);
  border-radius: 13px;
}

.faq__item:not(:last-child) {
  margin-bottom: 22px;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-radius: 13px;
  cursor: pointer;
  list-style: none;
  user-select: none;
  font-weight: 700;
  font-size: 22px;
}

.faq__question::after {
  content: "+";
  transition: var(--transition);
  font-size: 30px;
  font-weight: 600;
}

.faq__item[open] .faq__question::after {
  content: "−";
}

.faq__question:hover::after {
  transform: scale(1.2);
}

.faq__item::details-content {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  transition:
    height 0.5s ease,
    opacity 0.5s ease,
    content-visibility 0.5s ease allow-discrete;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.faq__item[open]::details-content {
  height: auto;
  opacity: 1;
}

.faq__answer {
  padding: 25px;
}

/* Contacts */
.contacts__inner {
  padding-bottom: 120px;
}

.contacts__header {
  margin-bottom: 63px;
}

.contacts__title {
  text-transform: none;
  line-height: 1;
  font-size: 72px;
}

.contacts__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.contacts__map,
.contacts__map iframe {
  border-radius: 36px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.contacts__info h4 {
  margin-bottom: 8px;
  opacity: 0.7;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
}

.contacts__info p,
.contacts__info a {
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: 700;
  font-size: 36px;
}

.contacts__info p {
  gap: 7px;
}

.contacts__info p::before {
  content: "";
  width: 3px;
  height: 71px;
  background-color: var(--black-color);
}

.contacts__info a {
  transition: var(--transition);
}

.contacts__info .address__telegram a {
  gap: 15px;
  position: relative;
  max-width: 305px;
  padding-bottom: 10px;
}

.contacts__info a:hover,
.contacts__info a:focus,
.contacts__info a:active {
  color: var(--accent-blue);
}

.contacts__info .address__telegram a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 3px;
  transition: var(--transition) ease-out;
  transform: translateX(-50%);
}

.contacts__info a:hover::after,
.contacts__info a:focus::after,
.contacts__info a:active::after {
  background-color: var(--accent-blue);
  width: 100%;
}

.contacts__info a svg {
  transition: var(--transition);
}

.contacts__info a:hover svg,
.contacts__info a:focus svg,
.contacts__info a:active svg {
  transform: scale(1.3);
}

.contacts__info a svg path {
  transition: var(--transition);
}

.contacts__info a:hover svg path,
.contacts__info a:focus svg path,
.contacts__info a:active svg path {
  fill: var(--accent-green);
}

.contacts__info .address__hours strong {
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 700;
  transition: var(--transition);
  animation: bgWaveTwoElements 3s infinite ease-in-out;
}

.contacts__info .address__hours strong:nth-of-type(2) {
  animation-delay: 1.5s;
}

.contacts__info .address__phone ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@keyframes bgWaveTwoElements {
  0%,
  100% {
    background-color: transparent;
  }
  20%,
  50% {
    background-color: var(--accent-green);
  }
  70% {
    background-color: transparent;
  }
}

/* Footer */
.footer__inner {
  position: relative;
  margin-bottom: 29px;
  padding: 39px 46px 76px;
  background-color: var(--accent-green);
  border-radius: 32px;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.footer__nav {
  margin-bottom: 67px;
}

.footer__menu {
  display: flex;
  gap: 15px;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.22;
}

.footer__menu .menu__link::after {
  background-color: var(--black-color);
}

.footer__menu .menu__item:first-child .menu__link {
  padding-left: 0;
}

.footer__details h5 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.33;
}

.details__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  line-height: 1.9;
  font-size: 12px;
}

.footer__info h4 {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 17px;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footer__info h5 {
  opacity: 0.7;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
}

.footer__info p,
.footer__info a {
  font-weight: 700;
  font-size: 16px;
}

.footer__info a {
  transition: var(--transition);
}

.footer__info .address__telegram a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 170px;
  padding: 10px;
}

.footer__info .address__telegram a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--black-color);
  transition: var(--transition) ease-out;
  transform: translateX(-50%);
}

.footer__info a:hover::after,
.footer__info a:focus::after,
.footer__info a:active::after {
  width: 100%;
}

.footer__info .address__location,
.footer__info .address__hours,
.footer__info .address__telegram,
.footer__info .address__phone {
  margin-bottom: 18px;
}

.footer__img {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
