:root {
  /* Colors */
  --black-color: #070707;
  --accent-green: #c9f000;
  --accent-blue: #015697;

  /* Transition */
  --transition: all 0.5s;

  /* Border-radius */
  --border-radius: 22px;

  /* Border */
  --border: 1px solid var(--black-color);

  /* Fonts */
  --font-size-base: clamp(1rem, 0.96rem + 0.19vw, 1.125rem);
  --font-size-title: clamp(1.625rem, 1.41rem + 0.91vw, 2.375rem);
}
